@import url("https://fonts.googleapis.com/css2?family=Arvo&family=Dongle&family=Dosis&family=Open+Sans+Condensed:wght@300&family=Roboto&display=swap");

:root {
  --font-heading: "Dongle", sans-serif;
  --font-button: "Open Sans Condensed", sans-serif;
  --font-title: "Dosis", sans-serif;
  --font-text: "Arvo", serif;
  --font-input: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
  font-family: var(--font-text);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

canvas {
  border: 2px solid #333;
  border-radius: 4px;
  margin-bottom: 0.65rem;
}

small {
  padding-bottom: 0.35rem;
}

.toolbox {
  width: 550px;
  padding-top: 0.5rem;
  text-align: center;
}

button {
  padding: 0.65rem;
  font-size: 1.05rem;
  margin: 0 1rem;
  font-weight: bold;
  border-radius: 3px;
  opacity: 0.85;
  transition-duration: 0.3s;
}

button:focus {
  outline: 0;
}

button:hover {
  cursor: pointer;
  opacity: 1;
  transition-duration: 0.3s;
}

#submit {
  background-color: steelblue;
  color: white;
}

#clear {
  background-color: #ccc;
}
